body,html {
    box-sizing: border-box;
    background-color: #FFEA00;
    font-family: 'Roboto', sans-serif;
    margin:0;
}
body {
    height:100vh;
    border:10px solid white;
}
.main-header {
    text-align:center;
    letter-spacing: 2px;
    font-size: xx-large;
    color: #323031;
    text-shadow: 0px 12px #EAD705;
}
.ui-buttons {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    flex-wrap: wrap;
}
button {
    width: 200px;
    height: 180px;
    padding: 12px;
    flex:none;
    background: transparent;
    border: 2px solid white;
    margin: 0 36px;
}
.design {
    filter: drop-shadow(0 12px #EAD705);
    height:50%;
}
.ui {
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    width:80vw;
    height: 28vh;
    border:2px solid white;
}
.player, .computer {
    flex:1;
    display:flex;
    flex-direction: column;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}
.text {
    text-align:center;
    font-weight:bolder;
    font-size:x-large;
    color: #323031;
}
.result-info {
    font-size: xx-large;
    text-align: center;
    color: #323031;
}